extends layout

block content
  .container
    .page-header
      p.lead Grid system
    .row
      .col-md-2.col-md-offset-1
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
    .row
      .col-md-2.col-md-offset-1
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
    .row
      .col-md-2.col-md-offset-1
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
    .row
      .col-md-2.col-md-offset-1
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
block scripts
  script(src='/js/grid.js')
