extends layout

block header
  link(rel='stylesheet', href='/css/grid.css')  

block content
  .container
    .page-header
      p.lead Grid system
    .modal.fade.right(tabIndex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            h4 modal dialog
    .row
      .col-md-2.col-md-offset-1
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
    .row
      .col-md-2.col-md-offset-1
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
    .row
      .col-md-2.col-md-offset-1
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
    .row
      .col-md-2.col-md-offset-1
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
      .col-md-2
        a.thumbnail(href='#')
          img(src='/img/holder.png')
block scripts
  script(src='/js/grid.js')
