doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    block header
  body
    block content
    script(src='/js/jquery-1.11.1.min.js')
    script(src='/js/bootstrap.min.js')
    block scripts
